<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SaiGon</key>
	<string>SaiGon Versions</string>
	<key>42cb5dd2da8212c4e9b8192e61cd9f6efe5cb80c</key>
	<string>1.0~beta14</string>
</dict>
</plist>
